{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-2",
    "stage-3"
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-es2015-modules-commonjs",
    "transform-export-extensions",
    "transform-runtime"
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul"]
    }
  }
}
